<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>PropertyRentalApp</display-name>
    <description>Dynamic Property Rental &amp; Tourism Booking web application</description>

    <!-- Welcome File List -->
    <welcome-file-list>
        <welcome-file>PropertyDetail.html</welcome-file>
    </welcome-file-list>

    <!-- Note: Servlets are mapped using annotations (@WebServlet) in Java, 
         so we do not explicitly need servlet-mapping here unless we want backward compatibility -->

</web-app>
